body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#board {
    height: 400px;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-image: url("../Image/Marathon_Background.jpg");
    animation: animate-background linear 1s infinite;
}

@keyframes animate-background {
    from {
        background-position: 0px;
    }

    to {
        background-position: -300px;
    }
}

#player {
    position: absolute;
    background-image: url(../Image/Female_RunnerTwo.gif);
    background-repeat: no-repeat;
    background-size: 200px 190px;
}

.obstacle {
    position: absolute;
    background-color: rgb(86, 125, 243);

}

#score {
    position: absolute;
    top: 120px;
    right: 150px;
    color: rgb(239, 226, 226);
    font-family: fantasy;
    font-size: large;
    background-color: rgb(239, 235, 235) opacity (0.5);
    padding: 10px;
    border-radius: 5px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 5%;

}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: fantasy;
    color: aliceblue;
    
}

#scoreContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-family: fantasy;
}

#playAgain {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-family: fantasy;
}

@media only screen and (min-width:1800px){
    #score {
        position: absolute;
        top: 120px;
        right: 490px;
        color: rgb(239, 226, 226);
        font-family: fantasy;
        font-size: large;
        background-color: rgb(239, 235, 235) opacity (0.5);
        padding: 10px;
        border-radius: 5px;
    }
}
