body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#board {
    height: 345px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    background-image: url("./Image/Marathon_Background.jpg");
    animation: animate-background linear 3s infinite;
}

@keyframes animate-background {
    from { background-position: 0px; }
    to { background-position: -300px;}
}

#player {
   position: absolute;
   background-color: rgb(241, 12, 12);
}

.obstacle {
 position: absolute;
 background-color: blueviolet;
}

#gameover {
    background-color: black;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
    
}